@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

@import "@/node_modules/bootstrap/scss/functions";

// Default variable overrides
$primary: #e2b500;
$secondary: #ff3d00;
$light: #f5f5f5;
$dark: #242424;
$success: #21910c;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1193px,
);

$headings-font-weight: 700; // bold
$h1-font-size: 3.375rem; // 54px
$h2-font-size: 2.375rem; // 38px

$grid-gutter-width: 1.875rem; // 30px

$border-radius: 10px;

$aspect-ratios: (
  "1x1": 100%,
  "4x3": calc(3 / 4 * 100%),
  "16x9": calc(9 / 16 * 100%),
  "21x9": calc(9 / 21 * 100%),
  // additional ratios:
  "10x7": calc(7 / 10 * 100%),
  "3x4": calc(4 / 3 * 100%),
  "8x5": calc(5 / 8 * 100%),
);

$body-color: #444;
$link-color: #444;
$link-decoration: none;
$link-hover-color: $secondary;

// Typography
$font-family-base: "Poppins", sans-serif;

// header menu padding
$list-inline-padding: 2.25rem; // 36px

// buttons
$btn-active-box-shadow: 0;
$btn-focus-width: 0;
$btn-padding-y: 0.65rem;
$btn-padding-x: 1.8rem;
$btn-border-width: 0;
$btn-font-weight: 600;

$input-border-width: 0;
$input-btn-padding-y: 0.6rem;
$input-btn-padding-x: 1.2rem;
$input-placeholder-color: rgba(#444, 0.3);

// 3. Include remainder of required Bootstrap stylesheets
@import "@/node_modules/bootstrap/scss/variables";
@import "@/node_modules/bootstrap/scss/maps"; // since bs 5.2
@import "@/node_modules/bootstrap/scss/mixins";
@import "@/node_modules/bootstrap/scss/utilities";

// 4. Include any optional Bootstrap components as you like
@import "@/node_modules/bootstrap/scss/root";
@import "@/node_modules/bootstrap/scss/reboot";
@import "@/node_modules/bootstrap/scss/buttons";
@import "@/node_modules/bootstrap/scss/type";
@import "@/node_modules/bootstrap/scss/images";
@import "@/node_modules/bootstrap/scss/containers";
@import "@/node_modules/bootstrap/scss/grid";
// @import "@/node_modules/bootstrap/scss/navbar";
// @import "@/node_modules/bootstrap/scss/nav";
@import "@/node_modules/bootstrap/scss/forms";
@import "@/node_modules/bootstrap/scss/transitions";

// Helpers
@import "@/node_modules/bootstrap/scss/helpers/position";
@import "@/node_modules/bootstrap/scss/helpers/stacks";
@import "@/node_modules/bootstrap/scss/helpers/ratio";

// Utilities
@import "@/node_modules/bootstrap/scss/utilities/api";

:root {
  --primary-c: #ffcc00;
}

body {
  &.disable-scroll {
    // when pushmenu is open
    width: 100%;
    overflow-y: hidden;
    position: fixed;
  }
}

a {
  transition: color 0.24s ease-in-out;
}

.fw-regular {
  font-weight: 500;
}

.cursor-pointer {
  cursor: pointer;
}

.btn {
  transition: background-color 0.24s ease-in-out;
  min-width: 151px;
}

.btn-white {
  background-color: #fff;

  &:hover,
  &:active:hover,
  &:focus {
    background-color: $dark;
    color: #fff;
  }
}

.btn-secondary {
  &:hover,
  &:active:hover,
  &:focus {
    background-color: $dark;
  }
}

.row > .col-12-nrp {
  // no pe on mobile (for swipers/carrousels)
  padding-right: 0;

  @include media-breakpoint-up(lg) {
    //default
    padding-right: calc(var(--bs-gutter-x) * 0.5);
  }
}

.row > .col-12-np {
  // no px on mobile (for cols with images and backgrounds and such)
  padding-left: 0;
  padding-right: 0;

  @include media-breakpoint-up(lg) {
    //default
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
}

.icon-gradient {
  background: linear-gradient(0deg, $primary 0%, var(--primary-c) 100%);
}

.bg-linear-gradient {
  background: $primary;
  background: linear-gradient(162deg, $primary 0%, var(--primary-c) 100%);
  color: white;

  @include media-breakpoint-up(lg) {
    background: linear-gradient(126deg, $primary 0%, var(--primary-c) 100%);
    color: $dark;
  }
}

.page-enter-active,
.page-leave-active {
  transition: all 0.3s cubic-bezier(0.2, 0, 0.1, 1);
}
.page-enter,
.page-leave-active {
  opacity: 0.1;
  transform: translateY(60px);
}

.border-radius-c {
  border-radius: 0;

  @include media-breakpoint-up(lg) {
    border-radius: 10px;
  }
}

.border-radius-c-large {
  border-radius: 0;

  @include media-breakpoint-up(lg) {
    border-radius: 41px;
  }
}

.bg-light-90 {
  background-color: rgba($light, 0.9);
}

.hero-blob {
  overflow: visible;
  &::before {
    transform: translate(0%, -22%);
    content: "";
    position: absolute;
    width: min(100vw, 1395.653px);
    height: min(98vw, 1365.653px);
    z-index: -1;
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    background-image: url("@/images/blob-hero.svg");

    @include media-breakpoint-up(lg) {
      transform: translate(0%, -28%);
      background-size: contain;
    }
  }
}

.section-blob {
  overflow: visible;
  &::before {
    display: none;
    transform: translate(-60%, -15%);
    content: "";
    position: absolute;
    width: 1395.653px;
    height: 1365.653px;
    z-index: -1;
    background-repeat: no-repeat;
    background-image: url("@/images/blob-page.svg");

    @include media-breakpoint-up(lg) {
      display: block;
    }
  }
}

// swiper pagination
.pagination {
  &-item {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 2px;
    transition: background-color 0.3s ease-in;

    &::before {
      position: absolute;
      background-color: #d5d5d5;
      content: "";
      height: 4px;
      width: 30px;
      top: 13px;
    }

    &--active {
      &::before {
        background-color: $primary;
      }
    }
  }
}

// hero styling and animations
.hero {
  $img-width: 45vw;

  &__content {
    @include media-breakpoint-up(lg) {
      min-height: $img-width * calc(5 / 8);
    }
  }

  &__visual {
    box-shadow: 0px 0px 40px #0000001a;
    width: 100%;
    overflow: visible;
    border: 8px solid white;
    border-radius: 20px;

    @include media-breakpoint-up(lg) {
      width: $img-width;
      height: $img-width * calc(5 / 8);
    }
  }
}

.fade-in {
  animation: fade-in-up 0.7s cubic-bezier(0.2, 0, 0.1, 1) both;
  will-change: opacity;
  opacity: 0;
}

.fade-in-up {
  animation: fade-in-up 0.7s cubic-bezier(0.2, 0, 0.1, 1) both;
  will-change: transform, opacity;
}

.delay-1 {
  animation-delay: 300ms;
}

.delay-2 {
  animation-delay: 600ms;
}
@keyframes fade-in {
  to {
    opacity: 1;
  }
}

@keyframes fade-in-up {
  from {
    transform: translateY(50px); // scaleY(1.2)
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// icons
.arrow-right {
  display: block;
  width: 18px;
  height: 8.85px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("@/images/icons/arrow-right.svg");
}
